@import url('https://fonts.googleapis.com/css?family=Nunito Sans');

/* ESTILO DEFAULT */
body {
    font-family: 'Nunito Sans';
    margin: 0;
    padding: 0;
    padding-top: 70px;
    color: #333;
    background-color: rgb(251, 252, 255);
}

/* SECTION #1 - Carousel */
.home-content {
    background-color:white;
}

.carousel {
    height: 60vh;
    overflow: visible;
    background-color: white;
    padding: 0;
    margin-top: 2.3rem;
    position: relative;
}

.carousel-content {
    overflow: visible;
    position: relative;
    text-align: center;
    width: 100%;
}

/* SECTION #1 - Carousel */
.home-content {
    margin-top: 1.3rem;
    background-color: white;
}

.carousel-content {
    position: relative;
    text-align: center;
    width: 100%;
    height: 493px;
}
   
/* Carousel buttons (dots) */
.slick-dots {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 0;
    top: 56.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 1000;
}

.slick-dots li button:before {
    font-size: 10px;
    color: #202f5c58;
    opacity: 0.75;
    margin-top: -0.2rem;
}

.slick-dots li.slick-active button:before {
    color: #1e284a97;
    opacity: 1;
}

.slick-list {
    height: 500px;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
}

.slick-track {
    height: 500px;
    display: flex;
    align-items: center;
}

.slick-slide {
    height: 500px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.slick-slide img {
    height: 100%;
    object-fit: cover;
}


/* SLIDE #1 */
.project1 {
    background-color: #fede85d5;
}

.project1 h3 {
    color: #03134a;
    font-weight: 900;
    font-size: 2.1rem;
    width: 750px;
    margin-top: -21.5rem;
    margin-left: 9rem;
    line-height: 2.5rem;
}

.project1 p {
    color: #03134a;
    font-weight: 550;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 9rem;
    width: 700px;
    line-height: 2.1rem;
}

.project1 .project-images {
    margin-top: 5rem;
    margin-left: 56rem;
}

.project1 .project-images img {
    width: 500px;
    height: auto;
}

.project1 .garabato-container {
    position: absolute;
    top: 2rem;
    left: 66rem;
    width: 550px;
    height: auto;
    z-index: 1002;
}

/* Garabato 1 */
.project1 .garabato-uno {
    margin-top: -6.5rem;
    margin-left: 42rem;
    z-index: 1001;
    max-width: 10px;
    height: auto;
    rotate: -215deg;
}

.project1 .garabato-uno img {
    width: 370px;
    height: auto;
    z-index: 1001;
    overflow: hidden;
}

/* Garabato 2 */
.project1 .garabato-dos {
    position: absolute;
    left: 95rem;
    top: -1rem;
    rotate: -40deg;
    z-index: 1001;
    overflow: hidden;
}

.project1 .garabato-dos img {
    width: 548px;
    height: auto;
    overflow: hidden;
}

.project1 .get-started a {
    border: 1px solid #FDB815;
    background-color: #FDB815;
    color: #1d2337;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    text-align: center;
    margin-left: 9rem;
    margin-top: 2rem;
    width: 170px;
    font-size: 1.3rem;
    padding: 10px 20px;
    display: inline-block;
    bottom: 10px;
    left: 2.6rem;
    z-index: 100;
}

.project1 .get-started a:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.287);
    border: 1px solid #ffca4f;
    background-color: #ffca4f;
}


/* SLIDE #2 */
.project2 {
    background-color: #d4dce9;
    z-index: 1100;
}

.project2 h3 {
    margin-top: -29rem;
    margin-left: 9rem;
    text-decoration: none;
    color: #03134a;
    font-weight: 900;
    font-size: 2.1rem;
    width: 900px;
    line-height: 2.5rem;
}

.project2 p {
    text-decoration: none;
    margin-left: 9rem;
    font-weight: 550;
    font-size: 1.2rem;
    color: #03134a;
    font-weight: 550;
    font-size: 1.2rem;
    max-width: 790px;
    line-height: 2.1rem;
}

.project2 h6 {
    text-decoration: none;
    margin-top: 1.1rem;
    margin-left: 9rem;
    font-weight: 550;
    font-size: 1.2rem;
    color: #03134a;
    font-weight: 700;
    font-size: 1.2rem;
    width: 790px;
    line-height: 2.1rem;
}

.project2 h6 {
    text-decoration: none;
    margin-left: 9rem;
    font-weight: 550;
    font-size: 1.2rem;
    color: #03134a;
    font-weight: 550;
    font-size: 1.2rem;
    width: 790px;
    line-height: 2.1rem;
}

.project2 .project-images {
    margin-top: -27rem;
    margin-left: 58rem;
    z-index: 1200;
}

.project2 .project-images img {
    width: 470px;
    height: auto;
    z-index: 1200;
}

.project2 .custom-image {
    margin-top: 8rem;
    margin-left: 61rem;
    z-index: 1100;
}

.project2 .custom-image img {
    width: 350px;
    height: auto;
    z-index: 1100;
}

.project2 .learn-more a {
    border: 1px solid #FDB815;
    background-color: #FDB815;
    color: #1d2337;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    text-align: center;
    margin-left: 9rem;
    margin-top: 1.5rem;
    width: 170px;
    font-size: 1.3rem;
    padding: 10px 20px;
    display: inline-block;
    bottom: 10px;
    left: 2.6rem;
    z-index: 100;
}

.project2 .learn-more a:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.287);
    border: 1px solid #ffca4f;
    background-color: #ffca4f;
}

/* SLIDE #3 */


/* SECTION #2 - Our Partners */
.partners {
    height: 15vh;
    background-color: rgb(251, 252, 255);
    padding: 1rem 0;
    margin-top: -1.9rem;
    text-align: center;
}

.partners-content h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #1d2337;
    margin-bottom: 3rem;
    margin-top: 2.6rem;
}

.partners-logos {
    height: 25vh;
    background-color: rgb(251, 252, 255);
    padding: 0.5rem 0;
    text-align: center;
}

.partners-logos .partners-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.partners-logos .partners-container img {
    margin-top: 2rem;
    object-fit: contain;
    background-color: white;
    border-radius: 10%;
    object-fit: cover;
    max-width: 140px;
    height: 90px;
    box-shadow: 0px 2px 12px rgba(62, 62, 62, 0.12);
}

/* SECTION #3 - Become an Investor */
.investors-section {
    background-color: rgb(251, 252, 255);
    padding: 3.5rem 0;
}

.investors-section h2 {
    margin-left: 2.5rem;
    font-size: 2.1rem;
    max-width: 700px;
    line-height: 3.5rem;
    font-weight: 600;
    color: #1d2337;
    margin-bottom: 1rem;
}

.investors-section p {
    font-size: 1.2rem;
    color: #1d2337;
    margin-bottom: 2rem;
    font-weight: 300;
    max-width: 500px;
    margin-left: 2.5rem;
    margin-top: 2rem;
    line-height: 2rem;
    font-weight: 400;
}

.investors-section h6 {
    position: relative;
    font-size: 1.15rem;
    font-weight: 550;
    color: #1d2337;
    margin-bottom: 2rem;
    margin-left: 40rem;
    margin-top: -14.1rem;
}

.investors-section form {
    margin-top: -14.5rem;
    margin-left: 40rem;
    max-width: 500px;
    background-color: rgb(240, 244, 255);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    height: 38vh;
}

.investors-section .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.investors-section .form-label {
    font-weight: bold;
    color: #1d2337;
    margin-bottom: 0.5rem;
}

.investors-section .form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1.7px solid #1d233728;
    border-radius: 4px;
    font-size: 1rem;
    background-color: rgba(252, 253, 255, 0.825);
}

.investors-section .btn-primary {
    margin-left: 11rem;
    position: absolute;
    margin-top: 0.2rem;
    border: 1px solid #FDB815;
    background-color: #FDB815;
    font-size: 1.1rem;
    color: #1d2337;
    text-decoration: none;
    padding: 8px 20px 8px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.investors-section .btn-primary:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ffca4f;
    background-color: #ffca4f;
}

/* investors.html redirect */
.investors-section .container .investor-redirect .investor-link {
    color: #FDB815;
    font-size: 1rem;
    margin-top: 0;
    margin-left: 0.5rem;
    padding-right: 0;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    gap: 8px;
    display: inline-block;
}

.investors-section .container .investor-redirect {
    padding-top: 180px;
}


.investors-section .container .investor-redirect .investor-link::after {
    content: "→";
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    color: #FDB815;
}

.investors-section .container .investor-redirect .investor-link:hover {
    background-color: transparent;
    text-decoration: underline;
}

/* Section #4 */
.plans {
    height: 85vh;
}

.plans h3 {
    justify-self: center;
    margin-top: 4.5rem;
    font-size: 2rem;
    font-weight: 800;
    color: #1d2337;
}

.plans h5 {
    justify-self: center;
    margin-top: 1.9rem;
    margin-bottom: 2rem;
    font-size: 1.15rem;
    font-weight: 500;
    color: #1d2337d0;
}