body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 70px; /* Add padding to body to account for fixed navbar height */
    color: #333;
}

/* Navigation Bar */
.navbar.navbar-light {
    background-color: #b2f7ef !important; /* Force override Bootstrap styles */
    color: #b2f7ef;
    position: fixed;
    top: 0rem;
    width: 100%;
    z-index: 1000;
}

.navbar-brand .logo {
    height: 40px;
    width: auto;
}

.navbar-nav .nav-link {
    color: #007bff;
    font-weight: bold;
}

.home-content {
    margin-top: -1rem;
}

.carousel {
    background-color: #eff7f6; /* Replace with your desired color */
    height: 60vh;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.carousel-content h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.carousel-content p {
    font-size: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
}

.section {
    padding: 80px 0;
}

.section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
}

.section p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

.get-started {
    background-color: #f8f9fa;
    text-align: center;
}

.get-started p {
    font-size: 1.2rem;
    color: #555;
}

.partners {
    background-color: #ffffff;
    text-align: center;
}

.partners h2 {
    color: #007bff;
}

.investors {
    background-color: #f8f9fa;
    text-align: center;
}

.investors h2 {
    color: #007bff;
}

.investors form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.investors .form-label {
    font-weight: bold;
}

.investors .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
}

.investors .btn-primary:hover {
    background-color: #0056b3;
}