@import url('https://fonts.googleapis.com/css?family=Nunito Sans');

/* ESTILO DEFAULT */
body {
    font-family: 'Nunito Sans';
    margin: 0;
    padding: 0;
    padding-top: 70px;
    color: #333;
    background-color: rgb(240, 244, 255);
}

/* Menu (navegacion) */
.navbar-nav {
    margin-right: 710px;
    overflow: visible;
}

.entity {
    background-color: rgb(240, 244, 255);
    color: rgb(240, 244, 255);
    position: fixed;
    width: 100%;
    top: 0rem;
    height: 3.8vh;
    z-index: 100;
}

.entity-nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin-right: 1045px;
    margin-top: 0.3rem;
}

.entity-item {
    margin-left: 20px;
}

.entity-link {
    text-decoration: none;
    color: #1d2337;
    font-weight: bold;
    font-size: 0.9rem;
}

.entity-item .entity-link:hover {
    border-bottom: solid rgb(255, 202, 116);
    font-weight: bold;
}

.entity-item.active .entity-link {
    border-bottom: solid rgb(255, 202, 116);
    color: #1d2337;
    font-weight: bold;
    z-index: 1100;
    overflow: visible;
}

.navbar.navbar-light {
    background-color: white !important;
    color: #b2f7ef;
    position: fixed;
    top: 0rem;
    width: 100%;
    height: 11vh;
    box-shadow: 0 7px 8px rgba(15, 15, 16, 0.06);
}

/* Logo EduBridge */
.navbar-brand .logo {
    height: 55px;
    width: auto;
    margin-left: 1.5rem;
    margin-top: 2rem;
}

/* Opciones del menu */
.navbar-nav .nav-item .nav-link {
    color: #1d2337;
    font-size: 0.95rem;
    margin-top: 2.5rem;
    margin-left: 20px;
    padding-right: 30px; /* Add space for the arrow */
    text-decoration: none;
    font-weight: 800;
    position: relative; /* Ensure this is set */
}

.navbar-nav .nav-item .nav-link::after {
    content: "\f107"; /* FontAwesome downward arrow icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 15px; /* Move further to the right */
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    color: #1d2337;
}

.navbar-nav .nav-item .nav-link:hover {
    border-radius: 20px;
    background-color: rgb(240, 244, 255);
}

/* Log In */
.navbar-nav .nav-item .nav-login {
    position: absolute;
    margin-top: 2.5rem;
    margin-left: 40.5rem;
    border: 1px solid #FDB815;
    background-color: #FDB815;
    font-size: 1rem;
    color: #1d2337;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.navbar-nav .nav-item .nav-login:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ffca4f;
    background-color: #ffca4f;
}

/* Sign Up */
.navbar-nav .nav-item .nav-signup {
    position: absolute;
    margin-top: 2.5rem;
    margin-left: 33.5rem;
    border: 1.4px solid rgb(205, 211, 228);
    font-size: 1rem;
    color: #1d2337;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.navbar-nav .nav-item .nav-signup:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Texto para slogan de country selector */
.text-country h4 {
    color: black;
    font-weight: 300;
    font-size: 0.9rem;
    position: absolute;
    top: 9px;
    right: 255px;
    z-index: 1100;
}

/* Banderas (paises) */
.country-selector {
    position: absolute;
    top: 3px;
    right: 80px;
    z-index: 1100;
    font-size: 0.95rem;
    border-bottom: 1.5px solid rgb(255, 202, 116);
}

#country-select {
    padding: 2px 20px 0px 40px;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: solid rgb(240, 244, 255);
    border-radius: 8px;
    font-weight: 550;
    color: #1d2337;
}

.flag-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    pointer-events: none;
}

/* SECTION #1 - Carousel */
.home-content {
    margin-top: 1.3rem;
    background-color:white;
}

.carousel {
    height: 50vh;
    overflow: visible;
    background-color: #fede85d5;
    padding: 0;
    margin: 0;
    position: relative;
}

.carousel-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

/* SECTION #1 - Carousel */
.home-content {
    margin-top: 1.3rem;
    background-color: white;
}

.carousel {
    height: 57vh;
    overflow: visible;
    background-color: #fede85d5;
    padding: 0;
    margin: 0;
    position: relative;
}

.carousel-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

/* SLIDE #1 */
.project1 {
    position: relative;
    top: 2.5rem;
    right: -1rem;
    height: 55vh;
    overflow: visible;
}

.project1 h3 {
    color: #03134a;
    font-weight: 900;
    font-size: 2.1rem;
    width: 750px;
    margin-top: -21.2rem;
    margin-left: 8rem;
    line-height: 2.5rem;
}

.project1 p {
    color: #03134a;
    font-weight: 550;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 8rem;
    width: 700px;
    line-height: 2.1rem;
}

.project1 .project-images {
    margin-top: 3rem;
    margin-left: 55rem;
}

.project1 .project-images img {
    width: 500px;
    height: auto;
}

.project1 .get-started a {
    border: 1px solid #FDB815;
    background-color: #FDB815;
    color: #1d2337;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    text-align: center;
    margin-left: 8rem;
    margin-top: 2rem;
    width: 170px;
    font-size: 1.3rem;
    padding: 10px 20px;
    display: inline-block;
    bottom: 10px;
    left: 2.6rem;
    z-index: 100;
}

.project1 .get-started a:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.287);
    border: 1px solid #ffca4f;
    background-color: #ffca4f;
}

/* Carousel buttons (dots) */
.slick-dots {
    position: absolute;
    height: 4vh;
    bottom: -30px;
    width: 100%;
    text-align: center;
    padding: 0;
    top: 57vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #fede85d5;
}

.slick-dots li button:before {
    font-size: 10px;
    color: #202f5c58;
    opacity: 0.75;
}

.slick-dots li.slick-active button:before {
    color: #1e284a97;
    opacity: 1;
}

/* SLIDE #2 */

/* SLIDE #3 */


/* SECTION #2 - Our Partners */
.partners {
    height: 12vh;
    background-color: rgb(251, 252, 255);
    padding: 2rem 0;
    text-align: center;
}

.partners-content h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #1d2337;
    margin-bottom: 2rem;
    margin-top: 1.6rem;
}

.partners-logos {
    height: 25vh;
    background-color: rgb(251, 252, 255);
    padding: 0.5rem 0;
    text-align: center;
}

.partners-logos .partners-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.partners-logos .partners-container img {
    margin-top: 2rem;
    object-fit: contain;
    background-color: white;
    border-radius: 10%;
    object-fit: cover;
    max-width: 140px;
    height: 90px;
    box-shadow: 0px 2px 12px rgba(62, 62, 62, 0.12);
}

/* SECTION #3 - Become an Investor */
.investors-section {
    background-color: rgb(251, 252, 255);
    padding: 4rem 0;
    text-align: center;
}

.investors-section h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
}

.investors-section p {
    font-size: 1.2rem;
    color: #434343;
    margin-bottom: 2rem;
    font-weight: 300;
}

.investors-section h6 {
    font-size: 1.15rem;
    font-weight: 550;
    color: #434343;
    margin-bottom: 2rem;
}

.investors-section form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #eff7f6;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.investors-section .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.investors-section .form-label {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.investors-section .form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.investors-section .btn-primary {
    background-color: #b2f7ef;
    color: black;
    border: none;
    text-decoration: none;
    border-radius: 30px;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.investors-section .btn-primary:hover {
    background-color: #71f0e1;
    color: black;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    background-color: #b2f7ef;
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid #40e0d0;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
    color: black;
}