@import url('https://fonts.googleapis.com/css?family=Nunito Sans');

/* ESTILO DEFAULT */
body {
    font-family: 'Nunito Sans';
    margin: 0;
    padding: 0;
    padding-top: 70px;
    color: #333;
    background-color: rgb(240, 244, 255);
    background: linear-gradient(to right, #e2e2e2, #f5af19);
}



.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.form-box.active{
    display: block;
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input,
select{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button{
    width: 100%;
    padding: 12px;
    background: #FDB815;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: #b6810d;
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;

}

p a {
    color: #b6810d;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;

}

.error-message {
padding: 12px;
background: #FDB815;
border-radius: 6px;
font-size: 16px;
color: #b6810d;
text-align: center;
margin-bottom: 20px;
}