@import url('https://fonts.googleapis.com/css?family=Nunito Sans');

/* ESTILO DEFAULT */
body {
    font-family: 'Nunito Sans';
    margin: 0;
    padding: 0;
    padding-top: 70px;
    color: #333;
    background-color: rgb(240, 244, 255);
}

